# Treat all image and binary files as binary to prevent corruption
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.webp binary
*.pdf binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
